html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
    color: #0A1A42;
}

.custom-navbar {
    background-color: #001E62;
    font-weight: 600;
}

.navbar-brand img {
    max-height: 80px;
}

.nav-link {
    color: #ffffff !important;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
    color: #FFCC00 !important;
    font-weight: bold;
}

footer {
    background-color: #001E62;
    color: #fff;
}

footer a {
    color: #FFCC00;
}

select.form-select {
    background-color: #ffffff;
    color: #0A1A42;
    border: 1px solid #ccc;
}

.titulo-seccion {
    color: #E6A800;
    font-weight: 800;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-certiffy {
    background-color: #FFCC00;
    color: #001E62;
    border: none;
    font-weight: bold;
}

.btn-certiffy:hover {
    background-color: #E6A800;
    color: #fff;
}

