{% extends "base.html" %}

{% block content %}
<article class="container py-5">



    <!-- Fecha de publicación -->
    <p class="text-muted mb-4">
        Publicado el {{ page.fecha }}
    </p>

    <!-- Contenido -->
    {% for block in page.body %}
    <div class="mb-4">
        {{ block }}
    </div>
    {% endfor %}
    <!-- Categoría -->
    {% if page.categoria %}
    <p class="text-muted mb-2">
        <strong>Categoría:</strong> {{ page.categoria.nombre }}
    </p>
    {% endif %}
    <!-- Etiquetas -->
    {% if page.tags.all %}
    <div class="mt-4">
        <p class="mb-2"><strong>Etiquetas:</strong></p>
        {% for tag in page.tags.all %}
        <a href="?tag={{ tag.slug }}" class="btn rounded-pill px-3 py-1 text-white align-items-center"
            style="background-color: #001E62; border-color: #001E62;">{{ tag.name }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Botón "Ver más noticias" -->
    {% if noticias_index_url %}
    <div class="text-center mt-5">
        <a href="{{ noticias_index_url }}" class="btn rounded-pill px-3 py-1 text-white align-items-center"
            style="background-color: #001E62; border-color: #001E62;">
            Ver más noticias{% if page.categoria %} de {{ page.categoria.nombre }}{% endif %}
        </a>
    </div>
    {% endif %}

</article>
{% endblock %}