{% extends "base.html" %}

{% block content %}
<article>
    <h2>{{ page.title }}</h2>

    {% if page.categoria %}
    <p class="categoria"><strong>Categoría:</strong> {{ page.categoria.nombre }}</p>
    {% endif %}



    <p><small>Publicado el {{ page.fecha }}</small></p>

    {% for block in page.body %}
    {{ block }}
    {% endfor %}

    {% if page.tags.all %}
    <p class="etiquetas"><strong>Etiquetas:</strong>
        {% for tag in page.tags.all %}
        <a href="?tag={{ tag.slug }}" class="tag">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}
</article>
{% endblock %}