{% load wagtailimages_tags %}

<div class="gallery">
    {% for item in value.images %}
    <figure>
        {% image item.image fill-800x450-c100 class="img-fluid rounded shadow" %}
        {% if item.caption %}
        <figcaption>{{ item.caption }}</figcaption>
        {% endif %}
    </figure>
    {% endfor %}
</div>

<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .gallery figure {
        margin: 0;
    }

    .gallery figcaption {
        text-align: center;
        font-style: italic;
    }
</style>