<a href="{{ self.url }}" class="btn btn-{{ self.style }}">
    {{ self.text }}
</a>

<style>
    .btn-primary {
        background-color: #027be3;
        color: white;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
    }

    .btn-success {
        background-color: #28a745;
        color: white;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
    }

    .btn-warning {
        background-color: #ffc107;
        color: black;
    }

    .btn {
        padding: 0.5em 1em;
        border-radius: 0.3em;
        text-decoration: none;
    }
</style>